*.iml
*.jar
.checkstyle
.class
.classpath
.idea
.mymetadata
.project
.rar
.war
.zip
**/.gradle/
**/.idea/
**/.settings/
**/.svn/
**/bin/
**/build/
**/node_modules/
**/target/
**/xtend-gen/
**/out/
**/npm-debug.log
**/yarn.lock
/wES-demo/static/static
/wES-demo/public/
/wES-demo/src/main/resources/public
